.header{
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #5274ED;
    margin-bottom: 80px;
}
.logo{
    margin-top: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: end;
    justify-self: stretch;
    align-self: stretch;
}
.contact__element{
    transition: color 0.5s linear;
    font-weight: 300;
}

.bucket{
    transition: color 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25%;
    width: 51px; 
    height: 51px;
}
