@media (max-width: 1200px) {
    .main_container {
        max-width: 970px;
    }
}

@media (max-width: 992) {
    .main_container {
        max-width: 750px;
    }
}

@media (max-width: 776) {
    .main_container {
        max-width: none;
    }
}

@media (any-hover: hover) {
    .nav__element:hover {
        color: #5274ED;
        transition: color 0.1s linear;
    }

    .button:hover{
        background-color: #5274ED;
        color: white;
        transition: color 0.1s linear;
    }

    .bucket:hover{
        background-color: #5274ED;
        transition: color 0.1s linear;
    }

    .contact__element:hover{
        color: #5274ED;
        transition: color 0.1s linear;
    }
    .order_form__element:hover{
        border-color: #5274ED;
        color: white;
        transition: color 0.1s linear;
    }
    .select:hover{
        border-color: #5274ED;
        color:black;
        transition: color 0.1s linear;
    }
}