body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

p{
    margin: 0;
}

.button{
    transition: color 0.5s linear;
    padding: 12px 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #5274ED;;
    background-color: white;
    border: 1px solid #5274ED;
}
.a_button{
    padding: 10px 10px;
}
.button_second{
    transition: color 0.5s linear;
    padding: 12px 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #525252;
    background-color: white;
    border: 1px solid #525252;
}

.dialog{
    border: 0;
    padding: 50px;
}
.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* header syles */
/* 
.header_container{
    width: 100%;
    padding: 0px 32px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
}

.logo{
    max-width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__element{
    margin: 0 7px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-style: 14px;
    letter-spacing: 3px;
}

.menu__element:hover{
    color: blue;
} */

