{% extends 'photo\base.html' %}
{% load static %}
{% load photo_tags %}
{% block content %}
<main class="main">
    <div class="nav">
        <p class='nav__element documents'>Печать документов</p>
        <p class='nav__element photo'>Печать фотографий</p>
        <p class='nav__element document_photo'>Фото на документы</p>
        <p class='nav__element vizitki'>Визитки</p>
        <p class='nav__element polk'>Бессмертный полк</p>
    </div>
    <div class="tab documents" hidden>
        <p class="title">Печать документов</p>
        <div class="tab_wrapper">
            <div class="tab_element">
                <p class="over_table_title">Черно белая</p>
                <table class="table">
                    <thead>
                    <tr class="table__title">
                        <th class="table__title__element">Формат</th>
                        <th class="table__title__element">Документ</th>
                        <th class="table__title__element">Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in black_docs %}
                    <tr class="table__row">
                        <td class="table__cell">{{i.format}}</td>
                        <td class="table__cell">{{i.document}}</td>
                        <td class="table__cell--bold">{{i.price}}р</td>
                    </tr>
                    {% endfor %}
                    {% if color_docs|length > black_docs|length %}
                    {% for i in color_docs|subtract:black_docs %}
                    <tr class="table__row">
                        <td class="table__cell">-</td>
                        <td class="table__cell">-</td>
                        <td class="table__cell--bold">-</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="tab_element">
                <p class="over_table_title">Цветная</p>
                <table class="table--two_column">
                    <thead>
                    <tr class="table__title">
                        <th class="table__title__element">Формат</th>
                        <th class="table__title__element">Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in color_docs %}
                    <tr class="table__row">
                        <td class="table__cell">{{i.format}}</td>
                        <td class="table__cell--bold">{{i.price}}р</td>
                    </tr>
                    {% endfor %}
                    {% if black_docs|length > color_docs|length %}
                    {% for i in black_docs|subtract:color_docs %}
                    <tr class="table__row">
                        <td class="table__cell">-</td>
                        <td class="table__cell--bold">-</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab_info">
            <p class="tab_info__element text">Используем белую бумагу 80 г/м2</p>
            <button type="button" class="tab_info__element button" onclick="window.order_dialog.showModal();">Заказать
            </button>
            {% if request.user.is_authenticated %}
            <dialog class="dialog" id="order_dialog">
                <p class="title">Печать документов</p>
                <div class="order">
                    <form action="" method="post" class="order_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <select id="color" class="order_form__element order_form__input select">
                            <option value="colored">Цветная</option>
                            <option value="black">Черно-белая</option>
                        </select>
                        <select id="format" class="order_form__element order_form__input select">
                            <option value="А4">А4</option>
                            <option value="А3">А3</option>
                        </select>

                        <input class="order_form__element order_form__input" type="text" onkeyup="checkParams()"
                               id="ex_count"
                               placeholder="Колличество экземпляров">
                        <input class="order_form__element order_form__input" type="text" onkeyup="checkParams()"
                               id="page_count"
                               placeholder="Колличество страниц">
                        <p>Загрузить файл:</p>
                        <div class="order_form__element button order_form__element_download">
                            <label for="file">+</label>
                            <input type="file" class="file" id="file" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx"
                                   multiple>
                        </div>
                        <div class="file_preview">
                            <p>Ни один файл для загрузки не выбран</p>
                        </div>
                        <p id="price" class="order_form__element select">Итоговая стоимость: 0р</p>
                        <button id="zakaz" class="button order_form__element" type="button"
                                disabled>
                            Заказать
                        </button>
                        <button class="login__element_button button button_second" type="button"
                                onclick="window.order_dialog.close();">
                            Закрыть
                        </button>
                    </form>
                </div>
                <div class="alert alert-success" id="order_errors">

                </div>
                <div class='file_preview' id='button_errors'>

                </div>
            </dialog>
            {% else %}
            <dialog class="dialog" id="order_dialog">
                <p>Необходимо войти или зарегистрироваться</p>
                <button type="button" class="button" onclick="window.logIn.showModal();window.order.close();">
                    Войти
                </button>
                <input class="login__element_button button button_second" type="button" value="Регистрация"
                       id="login-form-submit" onclick="window.registration.showModal();window.order.close();">
                <button class="button" type="button" onclick="window.order_dialog.close();">
                    Закрыть
                </button>
                {% endif %}
            </dialog>
        </div>
    </div>
    <div class="tab photo" hidden>photo</div>
    <div class="tab document_photo" hidden>document_photo</div>
    <div class="tab vizitki" hidden>vizitki</div>
    <div class="tab polk" hidden>polk</div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}